.Container {
  display: flex;
  flex-direction: row;
  min-height: 32px;
  align-items: center;
  padding: 0 0 8px 3px;
}

.Description {
  display: flex;
  flex-direction: row;
  min-width: 50%;
}

.Title {
  font-size: 1em;
  font-style: inherit;
  line-height: 1.14286;
  color: var(--ds-text,var(--ds-text,#172B4D));
  font-weight: 600;
  letter-spacing: -0.003em;
  margin: 0;
}

.Dates {
  margin-left: 7px;
  line-height: 1.45455;
  font-weight: normal;
  font-size: 14px;
  color: var(--ds-text-subtlest,var(--ds-text-subtlest,#6B778C));
}

.Issues {
  margin-left: 7px;
  line-height: 1.45455;
  font-weight: normal;
  font-size: 14px;
  color: var(--ds-text-subtlest,#6B778C);
}

.TitleEnd {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
}