.Enabled {
  display: flex;
  flex-direction: row;

  padding-left: 16px;
  padding-right: 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 2.28571em;
  border-radius: 3px;
  transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;

  cursor: pointer;
  color: var(--ds-text, #42526E) !important;
  background: var(--ds-background-neutral, rgba(9, 30, 66, 0.08));
}

.Enabled:hover {
  background: var(--ds-background-neutral, rgba(9, 30, 66, 0.13));
}

.Disabled {
  display: flex;
  flex-direction: row;

  padding-left: 16px;
  padding-right: 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 2.28571em;
  border-radius: 3px;
  transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  
  cursor: not-allowed;
  color: var(--ds-text-disabled, #A5ADBA) !important;
  background: var(--ds-background-disabled, rgba(9, 30, 66, 0.04));
}