@import '../../shared/utils/global-styles';

.Container {
  position: relative;
  display: flex;
  flex-direction: row;
}

.Sidenav {
  border-right: $borderLight 1px solid !important;
  height: 100%;
  background-color: $backgroundLight;
}