$primary: #0052cc; // Blue
$success: #0B875B; // green
$danger: #E13C3C; // red
$warning: #F89C1C; // orange
$secondary: #F4F5F7; // light grey

$borderLightest: #eaeaea;
$borderLight: #dee1e5;

$backgroundLight: #fafbfc;

$textDarkest: #172b4d;

:export {
  backgroundLight: $backgroundLight;
}