.Container {
  margin-right: 7px;
  margin-left: 17px;
  padding: 0px 8px 17px;
  width: 90%;
  height: 40px;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  cursor: pointer;
}

.Content {
  height: 30px;
  line-height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}